
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AutoCompleteTest</title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script>
        function refresh() {
            $.ajax({
                url: 'http://localhost:5000/api/autocomplete/refresh',
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (resp) {
                    
                },
                failure: function (resp) {
                    alert(resp.responseText);
                },
                error: function (resp) {
                    alert(resp.responseText);
                }
            });
        }
        function getRequest(url, request, response, lbl) {
            $.ajax({
                url: 'http://localhost:5000/api/autocomplete/' + url + '/' + request.term,
                type: 'GET',
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (resp) {
                    response(resp.list);
                    lbl.text(resp.responseTime + " мс");
                },
                failure: function (resp) {
                    alert(resp.responseText);
                },
                error: function (resp) {
                    alert(resp.responseText);
                }
            });
        }
        $(function () {
            $("#textEditLine").autocomplete({
                source: function (request, response) {
                    getRequest('line', request, response, $("#lblResponseTimeLine"));
                },
                minLength: 1
            });
            $("#textEditBinary").autocomplete({
                source: function (request, response) {
                    getRequest('binary', request, response, $("#lblResponseTimeBinary"));
                },
                minLength: 1
            });
            $("#textEditTree").autocomplete({
                source: function (request, response) {
                    getRequest('tree', request, response, $("#lblResponseTimeTree"));
                },
                minLength: 1
            });
        });
    </script>
</head>
<body>
    <div class="row">
        <div class="col-lg-2">
            <span>Линейный поиск:</span>
        </div>
        <div class="col-sm-10">
            <input id="textEditLine" style="width: 30%" />
            <label id="lblResponseTimeLine" for="textEditLine" class="text-info" style="font-size: 8pt"></label>
        </div>
    </div>

    <div class="row"><br /></div>
    <div class="row">
        <div class="col-lg-2">
            <span >Бинарный поиск:</span>
        </div>
        <div class="col-sm-10">
            <input id="textEditBinary" style="width: 30%" />
            <label id="lblResponseTimeBinary" for="textEditBinary" class="text-info" style="font-size: 8pt"></label>
        </div>
    </div>

    <div class="row"><br /></div>
    <div class="row">
        <div class="col-sm-2">
            <span>Поиск через дерево:</span>
        </div>
        <div class="col-sm-10">
            <input id="textEditTree" style="width: 30%" />
            <label id="lblResponseTimeTree" for="textEditTree" class="text-info" style="font-size: 8pt"></label>
        </div>
    </div>

    <div class="row"><br /></div>
    <div class="row">
        <div class="col-sm-2">
            <button onclick="refresh()">Обновить словари</button>
        </div>
        </div>
</body>
</html>
